

<div class="flex flex-col items-center justify-center h-screen bg-gray-100 p-4 relative">
    <h1 class="text-2xl font-bold mb-4">Acquisizione Video in Tempo Reale</h1>
  
    <div class="video-container border rounded-lg shadow-lg">
      <video *ngIf="!lastFrame" #videoElement class="w-full h-full object-cover" autoplay></video>
      <video *ngIf="lastFrame" #videoElement class="w-full h-full object-cover" autoplay [poster]="lastFrame"></video>
      <canvas #canvasElement class="absolute top-0 left-0 w-full h-full"></canvas>
    </div>
  
    <!-- Pulsanti sovrapposti al video -->
    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-4 z-10">
        <button (click)="stopVideo()" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition duration-200">
            Ferma Video
        </button>
        <button (click)="startVideo()" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition duration-200">
            Avvia Video
        </button>
        
    </div>
</div>
  
